.faq__container {
    margin-bottom: 5%;
}

.faq__header > h3 {
    text-align: center;
    color: #1290CB;
}

.question {
    background-color: #1290CB !important;
}

.faq__subContainer {
    padding: 0 2%;
}

.faq__Title {
    color: white;
}

.faq__Icon {
    color: #F5F5F5;
}

@media (min-width: 1000px) {
    .faq__header > h3 {
        font-size: 1.25em;
    }
}