.paw__print {
    display: flex;
    justify-content: flex-end;
}

.paw__print > .paw__Icon {
    color: #8B4513;
}

.mission {
    margin: 2%;
}

.mission__section__title {
    color: #1290CB;
}

.mission__learn__more > button {
    padding: 2% 5%;
    border-radius: 25px;
    background-color: #1290CB;
    border: 1px solid #1290CB;
    color: white;
}

@media (min-width: 800px) {
    .paw__print > .paw__Icon {
        font-size: 2em;
    }
}