.navbar {
    display: flex;
    width: 100%;
    overflow: hidden;
    background-color: #D2B48C;
    position: relative;
}

.logo__container {
    flex: 1;
    max-width: 45%;
}

.logo {
    width: 75%;
    height: auto;
}

.mobile__navlinks__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  transform: translateY(0%); 
  z-index: 1000; 
}

.mobile__navlinks__container.active {
    transform: translateY(50); /* Slide down to fill the screen */
  }

  .mobile__navlinks__inside__container {
    background-color: #1290CB;
    padding: 25% 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Distribute space evenly between links */  
    flex: 1;
}

.mobile__navlinks__inside__container .mobile__navlink {
    margin-top: 15%; /* Increase the margin to add space between links */
  }
  

.mobile__navlinks__container > .mobile__navlinks__inside__container > .mobile__navlink > a,
.desktop__navlinks__inside__container > .desktop__navlink > a {
    color: white; /* CHANGE THIS UGLY ASS COLOR */
    text-decoration: none;
}

.burgerMenu {
    display: flex;
    margin-left: auto;
    align-self: center;
    margin-right: 5%;
}

.closeIcon {
    display: flex;
    margin-left: auto;
    align-self: center;
    margin-top: 5%;
    margin-right: 5%;
}

.desktop__navlink__container {
    display: flex;
    flex-basis: calc(100% - 45%); /* Take remaining width after considering the logo container */
    max-width: 55%; /* Adjust this percentage as needed */
    align-content: center;
}

.desktop__navlinks__inside__container {
    display: flex;
    justify-content: space-evenly; /* Evenly space the navlinks */
    align-items: center;
    width: 100%; /* Ensure it takes up the full width of .test */
}

@media (min-width: 600px) {
    .logo {
        width: 50%;
    }
}

@media (min-width: 900px) {
    .mobile__navlinks__container {
    display: none;
    }
}

@media (min-width: 1000px) {
    .logo {
        width: 30%;
    }
}