.socialStatus > h2 {
    background-color: #1290CB;
    color: #fff;
    padding: 0 2%;
    text-align: center;
  }

  .paw__Icon {
    color: #8B4513;
    margin: 0 2%;
  }

  .Socials {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-items: center;
  }

  .Socials > img {
    width: 100%;
    height: auto;
  }

  @media (min-width: 480px) {
    .Socials > img {
        width: 85%;
    }
  }

  @media (min-width: 600px) {
    .Socials > img {
        width: 65%;
    }
  }

  @media (min-width: 800px) {
    .socialStatus > .paw__Icon {
        font-size: 2em;
    }
  }