.hero {
    border: 2px solid orange;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: #F5F5F5;
}

.hero__text > h1  {
    margin: 2%;
}

.hero__img > img {
    width: 100%;
    height: auto;
}

.hero__buttons {
    display: flex;
    justify-content: center;
    background-color: #1290CB;
    padding-bottom: 2%;
}

.hero__buttons > button {
    margin-left: 5%;
    border-radius: 25px;
    background-color: #8BC34A;
    border: 1px solid #8BC34A;
}

.play__video {
    display: flex;
    align-items: center;
}
