.hero {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: #F5F5F5;
    padding: 0 2%;
}

.hero__text > h1  {
    margin: 2%;
    color: #1290CB;
    /* padding-left: 2%; */
}

.hero__img > img {
    width: 100%;
    height: auto;
}

.hero__buttons {
    display: flex;
    justify-content: center;
    background-color: #1290CB;
    padding: 2% 0;
    padding-bottom: 5%;
}

.hero__buttons > button {
    margin-left: 5%;
    border-radius: 25px;
    background-color: #8BC34A;
    border: 1px solid #8BC34A;
}

.play__video {
    display: flex;
    align-items: center;
}


@media (min-width: 480px) {
    .hero {
      grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns */
      background-color: #1290CB;
    }

    .hero__text {
        display: flex;
        align-items: center;
    }

    .hero__text > h1 {
        color: #F5F5F5;
    }
  
    .hero__img > img {
      max-width: 100%; /* Limit the image width to its container */
      height: auto;
    }
  
    .hero__buttons {
      grid-column: span 2; /* Make hero__buttons span two columns */
      padding-bottom: 2%; /* Reduce the bottom padding */
    }
  }
  