.navbar {
    border: 2px solid red;
    display: flex;
    width: 100%;

}

.logo__container {
    border: 2px solid blue;
    flex: 1;
    max-width: 25%;
}

.logo {
    width: 75%;
    height: auto;
}

.navlinks__container {
    border: 2px solid green;
    display: flex;
    overflow-x: auto;
    flex: 3;
    max-width: 75%;
}

.navlink {
    margin-right: 5%;
    text-decoration: none;
    
}

/* .navlink,
.navlinks__container {
    box-sizing: border-box;
}
.navlink a {
    white-space: nowrap;
} */
